<div class="well ui-well side-container">
  <% if @business.hours.any? %>
    <h3>Hours</h3>
    <hr class="divider" />
    <div>
      <%= HoursPresenter.new(@business.hours, @business.timezone_for_time_settings).display_hours %>
    </div>
  <% else %>
    <h3>There aren't any hours currently for this business.</h3>
  <% end %>
</div>
