files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_npm_install.sh" :
    mode: "000775"
    owner: root
    group: users
    content: |
      . /opt/elasticbeanstalk/hooks/common.sh

      set -xe

      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars
      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR

      if [ -e ./package.json ]; then
        npm install
        chown -R $EB_APP_USER:$EB_APP_USER ./node_modules
      fi
