files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 0 * * * root /bin/bash -l -c /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            # load environment variables
            . /opt/elasticbeanstalk/support/envvars

            # Script for reactivating sitemap
            cd /var/app/current/public
            count=$(ls | grep sitemap | wc -l)
            if [ $count == 0 ]
            then
                cronlog="/var/app/current/cronlog.txt"
                sudo touch $cronlog
                sudo chmod 777 $cronlog
                echo "refreshing sitemaps $(date)" >> $cronlog
                cd ..
                sudo chmod 777 public
                RAILS_ENV=production bundle exec rake sitemap:refresh
                echo "finished sitemap rake $(date)" >> $cronlog
            fi

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak && rm -f /usr/local/bin/*.bak"
