files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            date > /tmp/date
            # Script for reactivating sitemap
            cd /var/app/current/public
            count=$(ls | grep sitemap | wc -l)
            if [ $count == 0 ]
            then
                cd ..
                sudo su
                rake sitemap:refresh
            fi

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"
