<% meta title: "#{@region.name}",
   description: "IDeal discounts and info near #{@region.name}." %>

<div class="well listing-well">
  <h1>IDeal discounts and info near <strong><%= @region.name %></strong>.</h1>
  <h3>Categories</h3>
  <div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-2 col-sm-3 col-xs-6 main-category-link"><%= link_to "#{category.label}", region_and_category_path(@region, category) %></div>
  <% end %>
  </div>
</div>


<%= render "businesses/businesses_list" %>
