<h1><%= @businesses %> Businesses in <%= @state %></h1>

<div class="row">
  <div class="col-md-6">
    <h2>Business Categories</h2>
    <ul>
    <% @categories.each do |category| %>
      <li><%= link_to "#{category.label} (#{category.business_count})", businesses_for_category_path(category) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h2>States</h2>
    <ul>
    <% @cities.each do |city| %>
      <li><%= link_to "#{city.city} (#{city.count})", state_path(city.city) %></li>
    <% end %>
    </ul>
  </div>
</div>
