<div class="well ui-well">
  <h1 class="text-center">Sorry, the webpage you're looking for doesn't exist.</h1>
  <hr />
  <div class="errorimage" style="margin: auto; max-width: 65%;">
    <%= image_tag("/assets/closed_sign_SIDT.jpeg", class: "img-responsive") %>
  </div>
</div>
