/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";
@import "font-awesome";

// Bootstrap body padding for fixed navbar
body { 
  padding-top: 60px;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  width: auto;
  p {
    font-size: 1.4em;
  }
 }

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
 }

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);

/*** Variables **/
$sid-blue: #229AD6;
$sid-orange: #FF9000;
$sid-white: #FFFFFF;
$sid-black: #151516;

@media (min-width: 768px) {
  .container {
    width: 100%;
  } 
}


.center {
  text-align: center;
  margin: 0 auto;
}

.main-container {
  margin-top: 20px;
}

a {
    color: $sid-blue;
    -webkit-transition : color 200ms ease-out;
    -moz-transition : color 200ms ease-out;
    -o-transition : color 200ms ease-out;
    transition : color 200ms ease-out;
    &:hover {
      color: black;
      text-decoration: none
    }
}

.navbar {  
  min-height: 65px;
}

.navbar-inverse {
  .navbar-header {
    margin-bottom: 5px;
  }
  background-color: $sid-white;
  border-bottom: $sid-black solid .5px;
      -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  .navbar-brand {
    color: $sid-blue;
    padding: 7.5px 15px;
    img {
      max-width: 250px;
    }
  }
  .navbar-brand:hover {
    color: $sid-orange;
  }
  .navbar-nav { 
    li {
      .active {
        a {
          background-color: $sid-orange !important;
        }   
      }
      a {
          color: $sid-orange;
        }
        a:hover {
          color: $sid-blue;
      }
    }
  }
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: $sid-blue;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: $sid-orange;
}

.btn-primary {
  color: $sid-white;
  background-color: $sid-blue;
  border-color: #33799C;  
}

.btn-success {
  color: $sid-white;
  background-color: $sid-orange;
  border-color: rgb(230, 152, 51); 
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: $sid-blue !important;
}  

.ui-autocomplete {
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 4px;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0,0,0,0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.ui-helper-hidden-accessible {
  display: none;
}

.homepage-container {
  background-image:url('https://s3-us-west-1.amazonaws.com/studentidealswebapp/uploads/images/get-more-when-you-go-out.jpg');
  h1 {
    font-size: 68px;
    font-weight: bold;
    color: $sid-white;
    text-shadow: 1.5px 1.5px black;
  }
}

.homepage-search {
  position: relative;
  padding-bottom: 1em;
  max-width: 768px;
  margin: auto;
  .form-control {
    font-size: 20px;
    margin-top: 0;
    border-radius: 12px 0 0 12px !important;
    padding-left: 35px;
  }
  .input-group-addon {
    background-color: rgba(255, 255, 255, 0);
    color: #B0BAC3;
    position: absolute;
    left: -14px;
    z-index: 100;
    border: transparent;
    font-size: 28px;
    top: -4px;
  }
  .btn {
    border-radius: 0 12px 12px 0 !important;
  }
}

//Pagination styles

.pagination {
  li {
    a {
      background-color: $sid-orange;
    }
    a:hover, a:focus {
      background-color: $sid-blue;
    }
  }
  .active, .disabled {
    a {
      background-color: $sid-blue;
    }
  }
}

//Listing Styles
.list-category {
  font-size: 16px;
}

