<% meta title: @category.label,
   description: "IDeal #{@category.label} Discounts and Info." %>

<h1>IDeal <strong><%= @category.label %></strong> Discounts and Info</h1>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">Subcategories</h2>

    <ul class="list">
      <% @sub_categories.each do |sub_cat| %>
        <li class="list-item"><%= link_to "#{sub_cat.label}", category_and_subcategory_path(@category, sub_cat) %></li>
      <% end %>
    </ul>

  </div>

  <div class="col-md-6">
    <h2 class="text-center">States</h2>

    <ul class="list">
      <% @states.each do |state| %>
        <li class="list-item"><%= link_to "#{state.state}", state_and_category_path(state.state, @category) %></li>
      <% end %>
    </ul>

  </div>

</div>
