<% meta title: "#{@category.label} in #{@region.name}",
   description: "IDeal #{@category.label} discounts and info near #{@region.name}." %>

<h1>IDeal <%= @category.label %> discounts and info near <%= @region.name %>.</h1>
<% if @sub_categories.present? %>
  <h3>Subcategories</h3>
  <% @sub_categories.each do |sub| %>
    <span><%= link_to "#{sub.label}", businesses_for_category_region_and_subcategory_path(@region, @category, sub) %></span>
  <% end %>
<% end %>

<%= render "businesses/businesses_list" %>
