<% meta title: "#{@sub_category.label} in #{@region.name}",
   description: "IDeal discounts and info for #{@sub_category.label} near #{@region.name}." %>

<div class="well listing-well ui-well">
  <h1>IDeal discounts and info for <strong><%= @sub_category.label %></strong> near <strong><%= @region.name %></strong>.</h1>
  <% if @sub_categories.present? %>
  <h3>Subcategories</h3>
  <div class="row">
    <% @sub_categories.each do |sub| %>
      <div class="col-md-2 col-sm-4 col-xs-6 list-link"><%= link_to "#{sub.label}", region_category_and_subcategory_path(@region, @category, sub) %></div>
    <% end %>
  </div>
  <% end %>
</div>

<%= render "businesses/businesses_list" %>
