<div class="well ad-container row text-center">
  <div class="ad-text">
    <h3>Checkout our mobile app!</h3>
  </div>
  <div class="ad-badge">
    <%= render "layouts/app_store_badge" %>
  </div>
</div>
