<div class="well ad-container row text-center">
  <div class="ad-text">
    <h3>Checkout our mobile app!</h3>
  </div>
  <div class="ad-badge">
    <a href="https://itunes.apple.com/us/app/student-ideals/id1033926442?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:130px;height:40px;background-size:contain;padding: 1em 0;"></a>
  </div>
</div>
